.useritem {
    
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 14rem;
  
  }

  .useritem a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    text-decoration: none;
    padding:1rem;
    border-radius:10px;
    color: white;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.30);
    background: #292929;
    transition: background .2s ease-out;
  }
  
  .useritem a:hover,
  .useritem a:active {
    background: #CD6688;
  
    
  }
  
  .useritem-content {
    padding: 0;
    
    
  }
  
  .useritem-pic {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  
  .useritem-infor h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    color: #CD6688;
  }
  
  .useritem:hover h2,
  .useritem:active h2,
  .useritem:hover h3,
  .useritem:active h3 {
    color: #292929;
  }
  
  .useritem-infor h3 {
    margin: 0;
  }

  .useritem-pic {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    
  }
  
  .useritem img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }